{% extends 'base.html' %}

{% block title %} Fornecedores - Lista{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-8">
      <h1>Lista de Fornecedores: </h1>
    </div>
    <div class="col-md-4">
      <a href="{% url 'fornecedor:criar' %}" class="btn btn-default" role="button">Novo</a>
    </div>
  </div>
  <div class="row">
    <table class="table">
      <thead>
        <td>Razão Social</td>
        <td>CNPJ</td>
        <td>Ações</td>
      </thead>
      <tbody>
        {% for fornecedor in fornecedores %}
          <tr>
            <td>
              {{ fornecedor.razao_social }}
            </td>
            <td>
              {{ fornecedor.cnpj }}
            </td>
            <td>
              <a href="{% url 'fornecedor:editar' pk=fornecedor.id %}">Editar</a>
              <a href="{% url 'fornecedor:deletar' pk=fornecedor.id %}">Excluir</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>




{% endblock %}
