{% extends 'base.html' %}

{% block title %} Produto - Deletar{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
        <h1>Produto - Deletar produto {{ produto.PRD_DESCRIPTION }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form method="post">{% csrf_token %}
          <p>Você tem certeza que quer deletar o produto: "{{ produto.PRD_NAME }}"?</p>
          <input type="submit" value="Confirmar" />
      </form>
    </div>
  </div>
{% endblock %}
