<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{{title}}</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' />
    <link rel="shortcut icon" href="img/favicon.ico" />
</head>
<body style="background-color: rgb(251, 250, 250)">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
        <i class="fa fa-home"></i>
        Início

        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">

                <!-- -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-disabled="true">
                        <i class="fa fa-database mr-2" aria-hidden="true"></i>MySQL
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/Hospital"><i class="fa fa-h-square mr-2"></i>Hospitais</a>
                            <a class="dropdown-item" href="/Procedures"><i class="fa fa-list-alt mr-2" aria-hidden="true"></i>Procedimentos Médicos</a>
                        </div>
                    </li>
                <!-- -->

                <!-- 

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-database mr-2" aria-hidden="true"></i>MongoDB
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/MongoDB/hospital"><i class="fa fa-h-square mr-2"></i>Hospitais</a>
                        <a class="dropdown-item" href="/MongoDB/Procedures"><i class="fa fa-list-alt mr-2" aria-hidden="true"></i>Procedimentos Médicos</a>
                    </div>
                </li>

                <!-- -->

            </ul>
        </div>
    </nav>
    
    <main role="main">
        <div class="container mt-3">
            {{>_msg}}
            {{{body}}}
        </div>
        
        <div class="container">
            <div class="form-row">
                <hr>
            </div>
        </div>
    </main>

    <div class="container">
        <hr>
    </div>

    <footer class="container">
        <label>
            <div class="row marcador align-items-right">
                <div class="col mx-auto text-right">
                    <img class="img-responsive" src="https://logodownload.org/wp-content/uploads/2018/01/ita-logo-7.png" alt="Instituto Tecnolígico de Aeronáutica" title="Instituto Tecnolígico de Aeronáutica">
                </div>
            </div>
        </label>
        <label class="ml-4">
            <p>TS #03 - Hospital</p>
        </label>
    </footer>
</body>

</html>