<br />
<hr>
<div class="form-row text-center">
<h5 style="color: red">Erro!</h5>
</div>
<br>
<h6>
    {{erro}}
</h6>
<hr>
<form action="javascript:history.back()" method="GET">
<div class="form-row text-center">
        <button type="submit" class=" btn btn-primary" >Voltar</button> 
</div>  
</form>