
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="jumbotron">
  <h1 class="display-4 text-center">SISTEMA HOSPITAL</h1>
  <p class="lead">Esse sistema tem como objetivo atender as atividades do projeto STEPES-BD (Soluções Tecnológicas Específicas para Pacientes Especiais e Sistemas em Banco de Dados - Big Data)</p>
  <hr class="my-4">
  <p>Para maiores informações sobre o projeto, visite a homepage:</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="https://sites.google.com/view/stepes-bd/" role="button">STEPES - BD</a>
  </p>
    <h1>
      <i class="float-right fa fa-hospital-o mr-4" aria-hidden="true" style="font-size:60px;color:#1E90FF"></i>
      <i class="float-right fa fa-user-md mr-4" aria-hidden="true" style="font-size:60px;color:#1E90FF"></i>
      <i class="float-right fa fa-stethoscope mr-4" aria-hidden="true" style="font-size:60px;color:#1E90FF"></i>
      <i class="float-right fa fa-heartbeat mr-4" aria-hidden="true" style="font-size:60px;color:#1E90FF"></i>
    </h1>
    <br>
    <br>
    <br>
</div>

<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action active text-center">
    PÁGINA DOS DESENVOLVEDORES
  </a>
  <a href="https://sites.google.com/view/camonteiro" class="list-group-item list-group-item-action">Carlos Alexandre</a>
  <a href="https://sites.google.com/view/diegodossantoscoutinho" class="list-group-item list-group-item-action">Diego</a>
  <a href="https://sites.google.com/view/leonardoguimaraes/home" class="list-group-item list-group-item-action">Leonardo</a>
  <a href="https://sites.google.com/view/jmendes" class="list-group-item list-group-item-action">João Paulo</a>
  <a href="https://sites.google.com/view/oswaldocostaneto" class="list-group-item list-group-item-action">Oswaldo Neto</a>
</div>
