<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Sistema - Hospital</h1>
    <p class="lead">Esse sistema tem como objetivo atender as atividades do projeto STEPES-BD</p>
  </div>
</div>