<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
  integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.js"></script>
<br />
<h3>
    <i class="fa fa-list-alt" aria-hidden="true"></i>
    Cadastro de novo Procedimento
</h3>
<br>
<hr>

<form action="/procedures" method="post">

    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="inputCBHPM">Código CBHPM</label>
                <input type="text" id="inputCBHPM" class="form-control cbhpm" name="inputCBHPM" placeholder="0.00.00.00-0" maxlength="12" minlength="12" required>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="inputUCO">Valor UCO</label>
                <input type="text" id="inputUCO" class="money form-control" name="inputUCO" placeholder="" maxlength="10" required>
            </div>
        </div>
        
    </div>
    <div class="form-group">
        <label for="inputDesc">Descrição</label>
        <textarea class="form-control" id="inputDesc" name="inputDesc" placeholder="Escreva aqui a descrição do procedimento." rows="3" maxlength="100" required></textarea>
    </div>

    <div class="form-row text-center">
        <button type="submit" class="btn btn-success mr-2">Cadastrar</button> 
        <a class=" btn btn-danger" href="/procedures" role="button">Cancelar</a>
    </div>
</form>
<script>

    var MoneyOpts = { reverse:true,
                      maxlength: false,
                      placeholder: 'Insira um valor',
                      onKeyPress: function(v, ev, curField, opts) {
                        var mask = curField.data('mask').mask;
                            decimalSep = (/0(.)00/gi).exec(mask)[1] || ',';
                        if (curField.data('mask-isZero') && curField.data('mask-keycode') == 8)
                          $(curField).val('');
                        else if (v) {
                          // remove previously added stuff at start of string
                          v = v.replace(new RegExp('^0*\\'+decimalSep+'?0*'), ''); //v = v.replace(/^0*,?0*/, '');
                          v = v.length == 0 ? '0'+decimalSep+'00' : (v.length == 1 ? '0'+decimalSep+'0'+v : (v.length == 2 ? '0'+decimalSep+v : v));
                          $(curField).val(v).data('mask-isZero', (v=='0'+decimalSep+'00'));
                        }
                      }
                    };
    $('.cbhpm').mask('0.00.00.00-0', { recursive:true });//
    $('.money').mask("#.##0,00", MoneyOpts);
</script>

