{{#if success_msg}}
    <div class="alert alert-success"><i class="fa fa-check-circle mr-2" aria-hidden="true"></i>{{success_msg}}</div>
{{/if}}

{{#if error_msg}}
    <div class="alert alert-danger"><i class="fa fa-times-circle mr-2" aria-hidden="true"></i>{{error_msg}}</div>
{{/if}}