
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="jumbotron">
  <h1 class="display-4 text-center"><i class="fas fa-briefcase-medical mr-4" aria-hidden="true" style="font-size:60px;color:rgb(65, 137, 219)">  </i>RECURSOS</h1>
  <p class="lead">Essa página tem como objetivo mostrar a interação entre os Times Scrum 03 e 04, a fim de concretizar, em uma prova de conceito, uma blockchain em uma cadeia de suprimentos hospitalares.</p>
  <hr class="my-4">
  <p>Bem vindo à pagina de Recursos, 
    {{#if hos}}
        <strong>{{hos.hos_name}}</strong>
    {{else}}
        <strong>{{pro.pro_name}}</strong> 
    {{/if}}
    .
  </p>
</div>

<div class="container marketing">
  <div class="row">
    <div class="col text-center mr-2">
      <div class="card">
        <div class="card-body">
          <i class="fa fa-h-square" aria-hidden="true" style="font-size:90px;color:rgb(65, 137, 219)">  </i>
          <h5 class="card-title">Hospitais</h5>
          <p>
            <strong>Time Scrum 03</strong> 
            <br>
            <strong>Integrantes:</strong> 
            <small>
              Carlos Alexandre, Diego, Laerte Oliveira,  
              <br> 
              Leonardo, Oswaldo Neto e Joao Paulo.
            </small>
          </p>
          <p><a class="btn btn-secondary" href="https://stepesbdhospital.herokuapp.com/" role="button">Ir para Página de Hospitais</a></p>
        </div>
      </div>
    </div>
    <div class="col text-center ml-2">
      <div class="card">
        <div class="card-body">
          <p><a class="btn btn-secondary" href="/" role="button">TESTE DE NOVA PÁGINA DE ATENDIMENTOS</a></p>
        </div>
      </div>
    </div>
</div>


