{% extends 'base.html' %}

{% block title %} Representante - Deletar{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
        <h1>Representante - Deletar representante {{ representante.REP_NAME }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form method="post">{% csrf_token %}
          <p>Você tem certeza que quer deletar o representante com o nome: "{{ representante.REP_NAME }}"?</p>
          <input type="submit" value="Confirmar" />
      </form>
    </div>
  </div>
{% endblock %}
