<link rel="stylesheet" href="/css/googleMap.css" />

<div id="map"></div>

<script>
  var map, heatmap;

  var markers = {{{json cases}}}

  function initMap() {
    map = new google.maps.Map(document.getElementById("map"), {
      zoom: 12,
      center: {lat: -23.210810, lng: -45.856375}, 
      //mapTypeId: 'satellite'
    });

    heatmap = new google.maps.visualization.HeatmapLayer({
      data: getPoints(),
      map: map
    });
    heatmap.set('radius', 15);
    //heatmap.set('opacity', 0.7);
    //heatmap.set('dissipating', false);
    heatmap.set('maxIntensity', 15)
  }

  function toggleHeatmap() {
    heatmap.setMap(map);
  }

  // Heatmap data: 500 Points
  function getPoints() {
    

    dots = [];
    const latMax = -23.223529;
    const latMin = -23.223875;
    const lonMax = -45.901003;
    const lonMin = -45.900802;
    for (var i = 0; i < markers.length; i++) {
      if(markers[i].data.Atendimento.Hospital.Exame_covid.Latitude != "" && markers[i].data.Atendimento.Hospital.Exame_covid.Longitude != ""){
        var lat = parseFloat(markers[i].data.Atendimento.Hospital.Exame_covid.Latitude);
        var lon = parseFloat(markers[i].data.Atendimento.Hospital.Exame_covid.Longitude);
          dots.push(new google.maps.LatLng(lat,lon))
      }
    }

    return dots
  }

</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHa1KVp_6wozWWyXGKxIHpfScYuNhqaoU&libraries=visualization&callback=initMap">
    </script>