
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container-fluid mt-4">
  <div class="row justify-content-center">
      <div class="col-auto mb-3">
        <div class="card" style="width: 32rem;">
          <img class="card-img-top" src="/img/index-image.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text text-center"> <strong>Você foi direcionado para página de Atendimento Presencial.</strong> </p>
            <p class="card-text text-center">Clique abaixo para continuar o atendimento.</p>
            <hr> 
            <div class="d-flex justify-content-center">
              <a class="btn btn-primary btn-lg" href="/attendance/step2">Prosseguir</a>
            </div>
            
          </div>
        </div>
      </div>
  </div>
</div>



