<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/fixedcolumns/3.3.0/js/dataTables.fixedColumns.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>


<form action="/attendance/step4" method="POST">
  <div class="container-fluid mt-4">
    <div class="row justify-content-center">
        <div class="col-auto">
              <div class="card">
                <div class="card-body">
                  <h5><i class="fas fa-notes-medical mr-2" aria-hidden="true" style="color:rgb(65, 137, 219)">  </i>Página de acompanhamento de pacientes com COVID-19 sem internação.</h5>
                  <h6 class="card-title text-center">Verifique o paciente na relação abaixo e abra seu prontuário.</h6>

                  <table id="listaEstoque" class="table responsive table-striped table-hover" style="width:100%">
                    <thead>
                      <tr class="table-primary">
                          <th class="text-center">DATA DA CONSULTA</th>
                          <th class="text-center">Nome</th>
                          <th class="text-center">CPF</th>
                          <th class="text-center" style="width:15%">Prontuário</th>
                      </tr>
                    </thead>
                    <tbody>
                      {{#each medRec}}
                          <tr>
                            <td class="text-center">{{rec_date}}</td>
                            <td class="text-center">{{rec_name}}</td>
                            <td class="text-center">{{rec_cpf}}</td>
                            <td class="text-center" style="width:15%"><a class="btn btn-primary btn-sm rounded-2 mr-1" href="/monitoring/{{rec_medrec_id}}" alt="Ver Registro Médico" data-toggle="tooltip" data-placement="top" title="Ver Registro Médico">
                                  <i class="fas fa-notes-medical"></i>
                                </a>
                            </td>
                          </tr>
                        {{/each}}
                    </tbody>
                  </table>

                </div>
              </div>
        </div>
    </div>
  </div>


</form>
<div class="container-fluid col-md-8 mt-2">
  <div class="d-flex flex-row-reverse">
      <div class="col-auto">
        <button onclick="goBack()" class="btn btn-secondary mr-4">Voltar</button>
    </div>
  </div>  
</div>


<script>
function goBack() {
    window.history.back()
}

$(document).ready(function () {
    $('#listaEstoque').DataTable({
            responsive: true,
            columnDefs: [{ responsivePriority: 1, targets: 0 },
                         { responsivePriority: 2, targets: 1 },
                         { responsivePriority: 3, targets: 2 }, 
                        ],
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.20/i18n/Portuguese-Brasil.json",
                decimal: ',',
            }
        });
  });

</script>