
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container-fluid mt-4">
  <div class="row justify-content-center">
      <div class="col-auto mb-3">
        <div class="card" style="width: 32rem;">
          <div class="card-body">
            <p class="card-text text-center"> <strong>Continuação da recuperação de dados de casos positivos de Covid-19 sem internação.</strong> </p>
            <p class="card-text text-center">Dados processados em segundo estágio.</p>
            <p class="card-text text-center">A tabela de dados existentes de RecordCovidHome serão truncados e recuperados a partir da blockchain.</p>
            <p class="card-text text-center">Caso deseje continuar o processo, clique em prosseguir.</p>
            <hr> 
            <div class="d-flex justify-content-center">
              <a class="btn btn-primary btn-lg" href="/monitoring/reset/2">Prosseguir</a>
            </div>
            
          </div>
        </div>
      </div>
  </div>
</div>



