
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<br />
<hr>
    <div class="alert alert-success" role="alert">
    <h3>
        Sucesso<i class="fa fa-check-circle-o ml-2" aria-hidden="true"></i>  
    </h3>
    </div>
<br>
<h5>
    {{success}}
</h5>
<hr>

<form action="{{page}}" method="GET">
<div class="form-row text-center">
        <button type="submit" class=" btn btn-primary" >Prosseguir</button> 
</div>  
</form>